body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-image: linear-gradient(rgb(152, 152, 245), rgb(89, 89, 245));
  margin: 5px;
  padding: 10px;
}

h1 {
  color: white;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-section {
  text-align: center;
}

.user-input {
  width: 18rem;
  height: 2rem;
  border-width: 0.1rem;
}

.user-input::placeholder {
  font-size: 20px;
}
.names-of-actors {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding: 0;
  margin: 10px;
  width: 100%;
  color: white;
}

.names-of-actors div {
  background-image: linear-gradient(rgb(175, 175, 247), rgb(58, 58, 244));
  width: auto;
  padding: 15px;
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
}

.names-of-actors div:hover {
  background-image: linear-gradient(rgb(228, 228, 228), rgb(189, 188, 188));
  color: blue;
}

.actor-container {
  text-align: center;
}
#ul-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

#ul-list div {
  width: 25rem;
  text-align: center;
  margin: 10px;
  background-color: rgb(230, 227, 227);
  padding: 10px;
}

#ul-list div {
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.anchor-tags {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(rgb(175, 175, 247), rgb(58, 58, 244));
  padding: 5px;
}
.icon {
  margin: 15px;
}
